/* 320++  */


.b-portfolio {
    background-color: @cl-very-light-gray-mostly-white;
    padding-top: 106px;
    padding-bottom: 103px;
    // font-family: 'Gilroy';

    &__card:not(:last-child) {
        margin-bottom: 103px;
    }

    &__title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 55px;
        font-size: 34px;
        line-height: 42px;
        // .Gilroy-500();
    }

    &__img {

    }

    &__picture {
        display: block;
        margin-bottom: 30px;
    }

    &__title-min {
        font-size: 18px;
        line-height: 22px;
        width: max-content;
        margin: 0 auto;
    }

    // &__link {
    //     color: @cl-very-dark-gray-mostly-black;
    //     text-decoration: underline;
    //     &--active {
    //         color: red;
    //     }
    // }

    &__link {
        
        &:link {
            color: green;
        }

        &:visited {
            color: blue;;
        }

        &:hover {
            color: red;
            // text-decoration: underline;
        }

        &:active {
            color: yellow;
        }

        &--active {

            &:link {
                color: brown;
            }

            &:visited {
                color: brown;;
            }

            &:hover {
                color: red;
                // text-decoration: underline;
            }

            &:active {
                color: brown;
            }

            color: brown;
        }
    }

    //  &__title-min{
    //     & > &__link:link,
    //     &__link:hover,
    //     &__link:active {
    //         opacity: 0.8;
    //     }
    // } 
}