include ui-kit/icon.pug

mixin program()
    +b('li').program
        +e('picture').image-wrapper
            +e('img').image(src='../images/content/ps.jpg' alt='')
        +e('h3').title Adobe Photoshop
        +e('ul').star-list
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star')
    +b('li').program
        +e('picture').image-wrapper
            +e('img').image(src='../images/content/ai.jpg' alt='')
        +e('h3').title Adobe Illustrator
        +e('ul').star-list
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star')
            +e('li').star
                +icon('star')
    +b('li').program
        +e('picture').image-wrapper
            +e('img').image(src='../images/content/ae.jpg' alt='')
        +e('h3').title Adobe After&nbsp;Effects
        +e('ul').star-list
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star')
    +b('li').program
        +e('picture').image-wrapper
            +e('img').image(src='../images/content/figma.jpg' alt='')
        +e('h3').title Figma
        +e('ul').star-list
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star').--active
            +e('li').star
                +icon('star')