mixin skill()
    +b('section').skill
        .b-container
            +e('h2').title Skills
            +e('p').text I work in such programs as
            +e('ul').list
                include program.pug
                +program()