mixin star()
    +b('ul').star
        +e('li').item
            include ui-kit/icon.pug
            +icon('star-tr')
        +e('li').item
        +e('li').item
        +e('li').item
        +e('li').item