/* 320++  */
.b-header {
    padding-top: 30px;
    margin-bottom: 30px;
}

.b-menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: 1px solid @cl-dark-gray;
    padding: 0;
    padding-bottom: 37px;

    &__item {
        list-style: none;
    }

    &__link {
        font-weight: normal;
        color: @cl-dark-gray;
        font-size: 18px;
    }

    &__link--active {
        font-weight: bold;
        color: @cl-black;
    }
}
