/* 320++  */
.b-star {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding: 0;

    &__item {
        list-style: none;
        width: 26px;
        height: 26px;
        background: url("../../../images/content/star-tr.svg") no-repeat center center;
    }
}

.b-star--four .b-star__item {
    background-image: url("../../../images/content/star.svg");
}